@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 91, 242, 177;
  --background-end-rgb: 192,255, 228;
}
/*
h1 {
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
